urxvt*font: xft:ShareTechMono:size=12

! colouring
urxvt*foreground: rgb:00/ff/00
urxvt*background: rgb:00/00/00

urxvt*transparent: true
urxvt*scrollBar: false
urxvt*visualBell: true
urxvt*cursorUnderline: true
urxvt*cursorBlink: true
!urxvt*letterSpace: -1
URxvt.perl-ext-common: font-size

! Fonts {{{
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
Xft.dpi:       200
! }}}
